*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


.toolbox-cont{
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.toolbox-cont>*{
    margin-left: 4rem;
    border-radius: 3px;
}

.toolbox-priority-cont{
    height: 3.5rem;
    width: 18rem;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.toolbox-priority-cont>*{
    border-radius: 3px;
    height: 1.5rem;
    width: 3rem;
}

.action-btn-cont{
    height: 3.5rem;
    width: 7rem;
    background-color: #3d3d3d;
    display: flex;
}

.action-btn-cont>*{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
    color: #d1d8e0;
}




.grey{
    
    background-color: grey
}


.purple{
   
    background-color:purple;
}


.green{
   
    background-color: green
}


.orange{
   
    background-color: orange
}

